@keyframes train-animation {
    0% {
        animation-timing-function: ease-out;
        transform: translate(100vw);
    }
    50% {
        transform: translate(20vw);
    }
    57% {
        animation-timing-function: ease-in;
        transform: translate(20vw);
    }
    100% {
        animation-timing-function: linear;
        transform: translate(-825px);
    }
}

.train-effect {
    height: 300px;
    width: 825px;
    animation-name: train-animation;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    margin-bottom: 60px;
}

@keyframes train-speedup {
    to {
        transform: translate(-825px);
    }
}

.train-speedup {
    height: 300px;
    width: 825px;
    animation-name: train-speedup;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}